@import 'tippy.js/dist/tippy.css';

svg {
  border: none;
}
svg * {
  outline: none;
}

.node {
  cursor: pointer;
}

.node text {
  font-size: 12px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  fill: #333;
}

.link {
  fill: none;
  stroke: #dadfe1;
  stroke-width: 1px;
}
